body
{
    background-image: url(y-so-serious.png);
    color:rgb(255, 255, 255);
    margin: 0;
    font-family: "Caveat", cursive;
    font-size: 10;
}
#logo
{
    width:100%;
    background-color: green;
    padding:10px;
    text-align: center;
    font-size: 50px;
    font-family: "Archivo Black", sans-serif;
    letter-spacing: 5px;
    border-bottom: 2px solid rgb(0, 82, 0);
}
#nav
{
    background-color: green;
    text-align: center;
    border-bottom: 2px solid rgb(0, 82, 0);
    padding: 0px;
    width:100%;
    font-size: 25px;
}
ol
{
    display: inline-block;
    list-style-type: none;
}
ol > li
{
    float: left;
    width: 300px;
    height: 50px;
    border-right: 2px dashed rgb(0, 82, 0);
    line-height: 50px;

}
ol > li:first-child
{
    border-left: 2px dashed rgb(0, 82, 0);
}
a
{
    color: #ffffff;
    text-decoration:none;
    display:block;
}
a:visited
{
    color: #ffffff;
    text-decoration:none;
    display:block;
}
ol >li:hover
{
    background-color: rgb(3, 113, 3);
}
#container
{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
    letter-spacing: 2px;
    margin-top:50px;
    font-size: 23px;
}
#gusta
{
    width: 1000px;
    margin-left:auto;
    margin-right:auto;
    text-align: justify;
    letter-spacing: 2px;
    margin-top:50px;
    font-size: 25px;
}